<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765135294201-8gqdcjjq6rprsfba5a8s6ghls2icmrmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765135294201-8gqdcjjq6rprsfba5a8s6ghls2icmrmb</string>
	<key>API_KEY</key>
	<string>AIzaSyDvqA442hwdkK_XDihBSNGM6nG2fUQXuW0</string>
	<key>GCM_SENDER_ID</key>
	<string>765135294201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrcodeBarang</string>
	<key>PROJECT_ID</key>
	<string>qrcode-barang</string>
	<key>STORAGE_BUCKET</key>
	<string>qrcode-barang.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765135294201:ios:069dd98f012687730f5c28</string>
</dict>
</plist>